#registrationForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.btnBox{
  display: flex;
  justify-content: center;
}

button{
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(14, 211, 14);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  border: 1px solid red; /* Червона рамка для некоректного інпута */
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px; /* Відступ між інпутом та повідомленням про помилку */
}