body{
  background-color: rgb(0, 217, 255);
}

.search{
  height: 90%;
  background-color: #c1d7dd;
  border: cornsilk 2px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  h1{
    margin-top: 10%;
    color: rgb(66, 66, 219);
    font-size: 90px;
  }
  h2{
    margin-top: 5%;
    color: rgb(43, 43, 161);
    font-size: 32px;
  }
  h4{
    margin-top: 5%;
    color: rgb(13, 13, 61);
    font-size: 30px;
  }
  input{
    margin: 4% 15px;
    width: 50%;
    height: 50px;
    border: cornsilk 2px solid;
    border-radius: 10px;
    background-color: #9292d9;
    color:rgb(13, 13, 61);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  button{
    margin-bottom: 5%;
    width: 150px;
    height: 50px;
    border: cornsilk 2px solid;
    border-radius: 10px;
    background-color: rgb(73, 210, 73);
    color:blueviolet;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    // &:hover{
    //   color:red;
    // }
  }
}